%section.hero-splash(style="background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});")
  .container
    .centered-row
      %h1 Jobs
%section
  .container.align-left
    %table
      %thead
        %tr
          %th= t(:'jobs.company_header')
          %th= t(:'jobs.summary_header')
          %th= t(:'jobs.roles_header')
          %th
      %tbody
        - @jobs.each do |job|
          %tr#job{id: job.id}
            %td= job.company
            %td= job.summary
            %td= job.roles_available
            %td= link_to t(:'jobs.read_specification'), job_path(job), class: 'button'
