%header{class: "mobile-navigation", role: "banner"}
  %label{role: "menu-trigger", for: "nav_trigger", class: "nav-trigger-label"}
  %input{type: "checkbox", id: "nav_trigger", class: "nav-trigger"}
  %nav{role: "navigation"}
    .image--centered.image--small
      = image_tag(image_path("logo/ma-white.png"))
    %ul.navigation-menu
      - if user_signed_in?
        %li
          %a{:href => "#"}= current_user.name
        %li= link_to(t(:logout_button), sign_out_path, :method => :delete)

%header{class: "navigation", role: "banner"}
  %nav{role: "navigation"}
    = link_to image_tag(image_path("logo/ma-wordmark-red.png")), "/", class: "image--brand"
    %ul.navigation-menu
      - if user_signed_in?
        %li
          %a{:href => "#"}= current_user.name
        %li= link_to(t(:logout_button), sign_out_path, :method => :delete)
